extends layout.pug

block header
    h1 Overseer Application
    nav
        ul
            li: a(href="/") Dashboard
            li: a(href="/inventory") Inventory
            li: a(href="/alerts") Alerts
            li: a(href="/settings") Settings

block content
    h1 Error
    h2 An error occurred while processing your request.
    h3=message
    p Please try again later or contact support if the issue persists.