extends layout.pug

block header
    h1 The Overseer Device Monitoring
    nav
        ul
            li: a(href="/") Dashboard
            li: a(href="/inventory") Inventory
            li: a(href="/collector") Status Collector

block content
    h1 Error
    h2 An error occurred while processing your request.
    h3=message
    p Please try again later or contact support if the issue persists.