extends layout.pug

block header
    h1 Overseer - Device Monitoring
    nav
        ul
            li: a(href="/").active Dashboard
            li: a(href="/inventory") Inventory

block content
    h1 Welcome to the Overseer
    h2 A Device Monitoring and Management Application.
    p This is the home page of the Overseer application.
    p Use the navigation menu to access different sections of the application, including the device inventory and settings.
    p The Overseer application allows you to monitor and manage your devices efficiently. You can view device statuses, add new devices, and configure settings as needed.
    p For more information, please refer to the documentation or contact support.