extends layout.pug

block header
    h1 Overseer - Inventory
    nav
      ul
        li: a(href="/") Dashboard
      ul.active
        li: a(href="/inventory") Inventory
        li: a(href="/inventory/new").active Add New Device

block content
    h1 Add New Device
    h2 Manual Device Entry
    p Use the form below to add a new device to the Overseer inventory. Fill in the required fields and click "Add Device" to submit the information. The new device will be added to the inventory and can be monitored through the application.
    form(action="/inventory/new" method="POST")
        label(for="deviceName") Device Name:
        input(type="text" id="deviceName" name="deviceName" required)
        label(for="ipaddress") IP Address:
        input(type="text" id="ipaddress" name="ipaddress" required)
        button(type="submit").submit-button Add Device
    h2 Upload Devices via CSV
    p You can also upload multiple devices at once using a CSV file. Please ensure the CSV file follows the correct format. You can download a sample CSV file for reference.
    form(action="/inventory/upload" method="POST" enctype="multipart/form-data")
        label(for="sampleFile") Download CSV File:
        a(href="/samplefile.csv") Sample Device File 
        label(for="deviceFile") Upload Device File:
        input(type="file" id="deviceFile" name="deviceFile" accept=".csv" required)
        button(type="submit").submit-button Upload File
    

