extends layout.pug

block header
    nav
      ul
        li: a(href="/") Dashboard
        li: a(href="/inventory") Inventory
        li: a(href="/collector").active Status Collector
      ul.active
        li: a(href="/changes") Change Log

block content
    h2 Launched the Collector Service
    p The Status Collector service has started successfully