html {
  box-sizing: border-box;
  background-color: darkcyan;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: darkcyan;
  color: #fff;
  padding: 1em;
}

header h1{
  text-align: center;
}

nav {
  background-color: #444;
  padding: 0.5em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  border-bottom: 1px solid #555;
}

nav ul li {
  margin: 0 1em;
  padding: 1em 0.2em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a.active {
  font-weight: bold;
  text-decoration: underline;
}

main{
  padding: 1em;
  min-height: 50vh;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: darkcyan;
  color: #fff;
  width: 100%;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

p{
  font-size: 1em;
  margin-bottom: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}

tr{
  border-bottom: 1px solid #ccc;
  text-align: left;
}

td{
  padding: 0.5em;
}

th{
  padding: 0.5em;
  background-color: #f2f2f2;
  text-align: left;
  border-bottom: 3px solid #ccc;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

button, .button {
  padding: 0.5em 1em;
  background-color: darkcyan;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

button:hover, .button:hover {
  background-color: #006666;
}

form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 1em;
}

.submit-button {
  grid-column: span 2;
  justify-self: center;
  padding: 0.5em 1em;
  background-color: darkcyan;
  color: #fff;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #006666;
}

.online{
  background-color: green;
  font-weight: bold;
  color: white;
}

.offline{
  background-color: red;
  font-weight: bold;
  color: black;
}

.maintenance{
  background-color: orange;
  font-weight: bold;
}

.unknown{
  background-color: gray;
  font-weight: bold;
  color: white;
}

@media all and (min-width: 450px) {
  header{
    text-align: center;
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  main {
    max-width: 80vw;
    margin: 0 auto;
    margin-bottom: 10vh;
  }
}

@media all and (min-width: 1000px) {
  header{
    text-align:left ;
    max-width: 30vw;
    display: inline-block;
    height: 95vh;
  }

  nav ul {
    display: block;
    justify-content: center;
  }

  main {
    width: 65vw;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    padding: 0em;
    padding-bottom: 10vh;
  }

  h1 {
    font-size: 2em;
  }

  footer {
    height: 5vh;
    position: fixed;
    bottom: 0;
  }
}